{% extends "layout.html" %}
{% block content %}

    <div class="form">
        <form action="{{ form_url }}" method="POST">
            {% if edit_question %}
                <label for="title" class="edit-labels">Title</label><br>
                <textarea id="title" name="title" rows="2" cols="60" placeholder="Make it short and concrete!">
                    {{- edit_question['title'] -}}
                </textarea>
                <br><br>
            {% endif %}

            <label for="message" class="edit-labels">Body</label><br>
            <textarea id="message" name="message" rows="5" cols="60" placeholder="Your message here">
                {%- if edit_question -%}
                    {{ edit_question['message'] }}
                {%- elif edit_answer -%}
                    {{ edit_answer['message'] }}
                {%- elif edit_comment -%}
                    {{ edit_comment['message'] }}
                {%- endif -%}
            </textarea>
            <br><br>

            {% if not edit_comment %}
                <label for="image" class="edit-labels">Add link to the image (optional)</label><br>
                <textarea id="image" name="image" rows="1" cols="60">
                    {%- if edit_question -%}
                        {{ edit_question['image'] }}
                    {%- elif edit_answer -%}
                        {{ edit_answer['image'] }}
                    {%- endif -%}
            </textarea>
            <br><br>
            {% endif %}

            <button type="submit" class="button">{{ button_title }}</button>
        </form>
    </div>

    {% include 'footer.html' %}
{% endblock %}