{% extends "layout.html" %}
{% block content %}

    <div class="form">
        <form action="{{ form_url }}" method="POST" name="form">
            <textarea id="title" name="title"\
                      placeholder="Make it short and concrete!"\
                      rows="2" cols="60" required="required">
                {% if edit_question %}
                    {{ edit_question['title'] }}
                {% endif %}</textarea><br>

            <textarea id="message" name="message"\
                      placeholder="Your message here"\
                      rows="5" cols="60" required="required">
                {% if edit_question %}
                    {{ edit_question['message'] }}
                {% elif edit %}
                    {{ edit['message'] }}
                {% endif %}</textarea><br>

            <textarea id="image" name="image"\
                      placeholder="Add link to image here"\
                      rows="1" cols="60">
                {% if edit_question %}
                    {{ edit_question['image'] }}
                {% elif edit %}
                    {{ edit['image'] }}
                {% endif %}</textarea><br>

            <button type="submit" class="button">
                {{ button_title }}
            </button>
        </form>
    </div>

    {% include 'footer.html' %}
{% endblock %}