<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate</title>
        <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="site-wrapper">
            <div class="header">
                <div class="logo">ASK MATE!</div>
            </div>

            <div class="content">
                {% block content %} {% endblock %}
            </div>
        </div>

    </body>
</html>
