{% extends "layout.html" %}

{% block content %}

    <div class="card">
        <div class="card-body">
        <form class="sorting-boxes" action="/sorted/" method="GET">
            <label for="sort_by">Sort by:</label>
            <select id="sort_by" name="sort_by">
                <option value="submission_time">time</option>
                <option value="title">title</option>
                <option value="vote_number">votes</option>
                <option value="view_number">views</option>
            </select>
            <label for="order">order</label>
            <select id="order" name="order">
                <option value="False">ascending</option>
                <option value="True">descending</option>
            </select>
            <button class="button" type="submit" value="Submit">sort</button>
        </form>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for question in questions %}
                    <tr>
                        <td class="time">{{ question.submission_time }}</td>
                        <td class="q_title"><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
                        <td>{{ question.message }}</td>
                        <td><img src="https://goo.gl/cSNGBU" alt="image" height="70"></td>
                    </tr>
                {% endfor%}

            </table>
        </div>
    </div>
{% endblock %}