{% extends "layout.html" %}


{% block content %}

    <div class="card">
        <div class="card-body">
            <a class="button" href="/add-question" role="button">ask question</a>
        </div>
        <br>

        <form action="/sorted/" method="GET">sort by:
            <label for="sort_by">name</label>
            <select id="sort_by" name="sort_by">
                <option value="submission_time">time</option>
                <option value="title">title</option>
            </select>
            <label for="order">order</label>
            <select id="order" name="order">
                <option value="asc">ascending</option>
                <option value="desc">descending</option>
            </select>
            <button class="button" type="submit" value="Submit">sort</button>
        </form>

        <div class="offset">
            <table class="table-content">
                <thead class="thead-light">
                <tr>
                    <th scope="col">date</th>
                    <th scope="col">question</th>
                    <th scope="col">message</th>
                    <th scope="col">image</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.submission_time }}</td>
                        <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                        <td>{{ question['message'] }}</td>
                        <td><img src="{{ question['image'] }}" alt="image.jpg" height="30"></td>
                        <td><form action="/question/{{ question['id'] }}/delete">
                                <input type="submit" Value="Delete">
                            </form>
                        </td>
                    </tr>
                {% endfor%}
            </table>
        </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}