<!DOCTYPE html>
<html>
    <title>AskMate by DarPol</title>
    <body>
        <h1>AskMate</h1>
        <h2>by DarPol</h2>
        <div style="background-color:mediumaquamarine;color:white;padding:20px;">
        
        <form action="/add-question", method="POST">
            Title:<br>
            <input type="text" name="title" value="Title">
            </div>
            <br>
            <div style="background-color:mediumaquamarine;color:white;padding:20px;">
            Message:<br>
            <textarea name="message" rows="10" cols="30" >What would you like to know?</textarea>
            </div>

            <br><br>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>

