{% extends "layout.html" %}

{% block content %}


        <h3 class="card-header">{{ question.title }}</h3>
        <div class="card-body">
            <p>{{ question.message }}</p>
        </div>


    <div class="form">
        <form action="/{{ question.id }}/new-answer" method="POST" id="add_form">
            <textarea name="message" rows="10" cols="40" placeholder="Add comment here"></textarea>
        </form>
    </div>
    <button class="button" type="submit" form="add_form" value="Submit">Add</button>

    {% include 'footer.html' %}
{% endblock %}