{% extends "layout.html" %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="question-title">{{ question['title'] }}</div>
            <div class="time">{{ question['submission_time'] }}</div>
            <p>{{ question['message'] }}</p>
            <img class="images" src={{ question['image'] }}><br>
            {% if tags %}
                {% for tag in tags %}
                    <div class="tag-button">
                        <div class="tag-button-text">{{ tag['name'] }}</div>
                        <div><a onclick="window.location.href='/' +
                                'question/{{ question['id'] }}/tag/{{ tag['id'] }}/delete';">x</a></div>
                    </div>
                {% endfor %}
            {% endif %}
            <button class="button"\
                    onclick="window.location.href='/{{ question['id'] }}/new-answer';">add answer</button>
            <button class="button"\
                    onclick="window.location.href='/question/{{ question['id'] }}/new-comment';">add comment</button>
            <button class="button"\
                    onclick="window.location.href='/question/{{ question['id'] }}/new-tag';">add tag</button>
            <button class="button"\
                    onclick="window.location.href='/question/{{ question['id'] }}/edit';">edit question</button>
            <button class="button" id="delete-button"\
                    onclick="window.location.href='/question/{{ question['id'] }}/delete';">delete question</button>
            {% for comment in comments %}
                <div class="table">
                    <table>
                        <tr>
                            <td class="time">{{ comment['submission_time'] }}</td>
                            <td>{{ comment['message'] }}</td>
                            <td><button class="button" id="delete-button"\
                            onclick="window.location.href='/' +
                                    'question/{{ comment['id'] }}/delete';">delete</button></td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
            <br><br><br>


            {% if answers %}
                <div class="answers-header">Answers</div>
            {% endif %}
            {% for answer in answers %}
                <br>
                <div class="time">{{ answer['submission_time'] }}</div>
                <div>{{ answer['message'] }}</div>
                <img class="images" src="{{ answer['image'] }}" alt="image should be here, hehe"><br>
                <button class="button"\
                        onclick="window.location.href='/answer/{{ answer['id'] }}/edit';">edit</button>
                <button class="button" id="delete-button"\
                        onclick="window.location.href='/answer/{{ answer['id'] }}/delete';">delete</button>
                <button class="button"\
                    onclick="window.location.href='/answer/{{ answer['id'] }}/new-comment';">add comment</button>
                <br><br>
                {% if comments %}
                    {% for comment in comments %}
                        <div class="table">
                            <table>
                                <tr>
                                    <td class="time">{{ comment['submission_time'] }}</td>
                                    <td>{{ comment['message'] }}</td>
                                    <td><button class="button" id="delete-button"\
                                            onclick="window.location.href='/question/{{ comment['id'] }}/delete';">delete</button></td>
                                </tr>
                            </table>
                        </div>
                    {% endfor%}
                {% endif %}
            {% endfor%}
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}