{% extends "layout.html" %}

{% block content %}

    <div class="card">
        <h3 class="card-header">{{ question['title'] }}</h3>
        <div class="card-body">
            <img class="images" src={{ question['image'] }}>
            <p>{{ question['message'] }}</p>
            <p class="time">{{ question['submission_time'] }}</p>
            <button class="button"\
                    onclick="window.location.href='/{{ question['id'] }}/new-answer';">add answer</button>
            <button class="button"\
                    onclick="window.location.href='/question/{{ question['id'] }}/edit';">edit question</button>
            <button class="button" id="delete-button"\
                    onclick="window.location.href='/question/{{ question['id'] }}/delete';">delete question</button>
        </div>

        <div class="table">
            <table>
                {% for answer in answers %}
                    <tr>
                        <td class="time">{{ answer['submission_time'] }}</td>
                        <td>{{ answer['message'] }}<br>
                            <img class="images" src={{ answer['image'] }}></td>
                        <tr><button class="button" id="delete-button"\
                            onclick="window.location.href='/answer/{{ answer['id'] }}/delete';">delete</button></tr>
                    </tr>
                {% endfor%}
            </table>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}