{% extends "layout.html" %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="time">{{ question['submission_time'] }}</div>
            <h2>{{ question['title'] }}</h2>
            <p>{{ question['message'] }}</p>
            <img class="images" src={{ question['image'] }}><br>
            {% for comment in comments %}
                <div class="table">
                    <table>
                        <tr>
                            <td class="time">{{ comment['submission_time'] }}</td>
                            <td>{{ comment['message'] }}</td>
                            <td><button class="button" id="delete-button"\
                            onclick="window.location.href='/question/{{ comment['id'] }}/delete';">delete</button></td>
                        </tr>
                    </table>
                </div>
            {% endfor%}
            <button class="button"\
                    onclick="window.location.href='/{{ question['id'] }}/new-answer';">add answer</button>
            <button class="button"\
                    onclick="window.location.href='/question/{{ question['id'] }}/new-comment';">add comment</button>
            <button class="button"\
                    onclick="window.location.href='/question/{{ question['id'] }}/edit';">edit question</button>
            <button class="button" id="delete-button"\
                    onclick="window.location.href='/question/{{ question['id'] }}/delete';">delete question</button>
        </div>
        <br>

        <h3>Answers</h3>
        {% for answer in answers %}
            <div class="table">
                <table>
                    <tr>
                        <td class="time">{{ answer['submission_time'] }}</td>
                        <td>{{ answer['message'] }}<br>
                            <img class="images" src={{ answer['image'] }}></td>
                        <td><button class="button" id="delete-button"\
                            onclick="window.location.href='/answer/{{ answer['id'] }}/delete';">delete</button></td>
                    </tr>
                </table>
            </div>
        {% endfor%}
    </div>

    {% include 'footer.html' %}
{% endblock %}